@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src:  url('/fonts/Jost-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


:root {
   --primary: #1967d2;
   --secondary:  #e2eaf8;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.tab-list{
    line-height: 30px;
    font-weight: 400;
    color: #202124;
    cursor: pointer;
}
.btn{
    min-width: 100px;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 8px;
}
.page-title{
  padding: 50px 0 40px;
}
.filters-heading{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #202124;
    margin-bottom: 16px;
}
input{
    outline: none;
    width: 100%;
    height: 60px;
    padding: 14px 20px 14px 54px;
    line-height: 30px;
    font-size: 15px;
    color: dimgray;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ecedf2;
    border-radius: 8px;
    transition: all .3s ease;
}
input::placeholder{
  color: black
}
input:focus{
  border-color: var(--primary);
}
.icon{
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -6px;
    font-size: 16px;
    line-height: 30px;
}





